.container {
    width: 100%;
}
.navbar .navbar-dark {
    color: #fff;
}

.hide {
    display: none;
}

#current-conditions {
    margin: 25px;
    border-style: none;
}

#five-day-forecast {
    margin: 15px;
    border-style: solid none none none;
}

.forecast-card {
    max-width: 15rem;
    border-radius: 10%;
    margin: 10px;
    padding: 10px;
}