.container {
    width: 100%;
}
.navbar .navbar-dark {
    color: #fff;
}

.hide {
    display: none;
}

#current-conditions {
    margin: 25px;
    border-style: none;
}

#five-day-forecast {
    margin: 15px;
    border-style: solid none none none;
}